body{
    background-color: #13181E;
    color: white;
}
.tournament-sec{
    background-color: #151A1F;
    height: 100vh;
    min-height: 600px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tournament-sec h6{
    color:#FE5900;
    text-align: center;
}
.tournament-sec h1{
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
}
.tournament-sec h1 span{
    color:#FE5900;
}
.avatar{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 30px 0px;
}
.avatar img{
    width: 9vw;
}
.games-sec{
    background-color: #1B1E28;
    height: 90vh;
    min-height: 500px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.games-sec h3{
    font-weight: 800;
}
.games-sec img{
    width: 20vw;
}
.games-sec .guys{
    color: #FE5900;
}
.fa-angle-left{
    color: #FE5900;
}
.more-btn{
        /* border-bottom: 100px solid red;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 100px;
        background-color: transparent; */
        height: 47px;
        width: 200px;
        clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 13% 100%);
        background-color: #FE5900;
        color: white;
        border-radius: 0px;
        transition: 0.4s;
}
.more-btn:hover{
        height: 47px;
        width: 200px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        background-color: #FE5900;
        color: white;
}
.game-slider{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}
.game-slider h5{
    font-weight: 700;
    color:white;
}
.game-slider p{
    font-size: 12px;
    font-weight: 700;
    color: #939393;
    margin-top: 20px;
}
.bar{
    height: 8px;
    width: 100%;
    background-image: linear-gradient(to right,#FE5900 13%,#232931 0%);
}
.navigate{
    gap: 10px;
    font-size:30px;
}
.sliders h5{
    flex:auto
}
.sliders p{
    flex: 0 1 auto;
}
.play-sec img{
    opacity: 0.9;
}
.play-btn{
    font-size: 5vw;
    top:40%;
    bottom: 60%;
    left: 50%;
    right: 50%;
}
.play-btn:hover{
    cursor: pointer;
}
.bgc-shop{
    background-color: #151A20;
    height: 100vh;
    min-height: 600px;
    max-height: 700px;
    display: flex;
    align-items: center;
}
.bgc-shop h6{
    color: #FE5900;
}
.shop-card-group{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.bgc-shop .card{
    background-color: #0C0F13;
    min-width: 200px;
    min-height: 200px;
    width: 250px;
    height: 250px;
    max-width: 296px;
    max-height: 296px;
    padding: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.bgc-shop .card img{
    width: 10vw;
}
.sales-badge{
    height: 50px;
    width: 40%;
    clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #D84E08;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: visible;
    border-top-left-radius: 20px;
}
.sales-badge-child{
    width: 95%;
    height: 101%;
    background-color: #1A1F25;
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sales-badge-child p{
    margin: 0px;
    color: #D84E08;
    font-weight: 700;
}
.bgc-dark{
    background-color: #111416;
    height: 400px;
    display: flex;
    align-items: center;
}
.bgc-dark p{
    color: #aeaeae;
    font-weight: 600;
}
.top-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px 40px;
}
.top-footer .line{
    border-bottom: 2px solid rgba(254, 89, 0, 1);
    padding-bottom: 10px;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo img{
    width: 50px;
}
.footer-logo p{
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 0px;
}
.footer-logo p span{
    color:#FE5900;
}
.contact :nth-child(1){
    color: #FE5900;
}
.contact :nth-child(2){
    color: #FE5900;
}
.social{
    display: flex;
    gap:0px 25px;
}
.subscribe :nth-child(1){
    color: #FE5900;
}
.mail-input{
    border: 1px solid black;
    padding: 5px;
    background-color: #151A20;
    display: flex;
    justify-content: space-between;
}
.mail-input :nth-child(1){
    border: 0px;
    background-color: transparent;
    padding: 5px;
    color: white;
    width: -webkit-fill-available;
}
.mail-input :nth-child(1):focus{
    outline: 0;
}
.mail-input :nth-child(2){
    border: 0px;
    background-color: #FE5900;
}
.copyright-sec{
    color:gray;
    background-color: #151A20;
    display: flex;
    justify-content: space-between;
}
.copyright-sec span{
    color:#FE5900;
    font-weight: bold;
}