body{
    background-color: #13181E;
    color: white;
}
.tournament-sec{
    background-color: #151A1F;
}
.tournament-sec h6{
    color:#FE5900;
    text-align: center;
}
.tournament-sec h1{
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
}
.tournament-sec h1 span{
    color:#FE5900;
}
.avatar{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
.games-sec{
    background-color: #1B1E28;
}
.game-slider{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}
.bar{
    height: 8px;
    width: 100%;
    background-image: linear-gradient(to right,#FE5900 50%,#232931 50%);
}
.navigate{
    gap: 10px;
    font-size:30px;
}
.sliders h5{
    flex:auto
}
.sliders p{
    flex: 0 1 auto;
}
.play-sec img{
    opacity: 0.9;
}
.play-btn{
    font-size: 5vw;
    top:40%;
    bottom: 60%;
    left: 50%;
    right: 50%;
}
.play-btn:hover{
    cursor: pointer;
}
.bgc-shop{
    background-color: #151A20;
}
.bgc-dark{
    background-color: #111416;
}
.bgc-shop .card{
    background-color: #0C0F13;
    width: 296px;
    height: 296px;
    padding: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.bgc-shop .card img{
    width: 70%;
}
.sales-badge{
    position: absolute;
    bottom: 0;
    right: 0;
    /* background-color: #1A1F25; */
    /* display: flex;
    align-items: center; */
    border-bottom: 50px solid #1A1F25;
	border-left: 12px solid transparent;
	height: 37px;
	width: 139px;
}
.test{
    display: inline-block;
    position: relative;
    padding:15px;
    margin:20px;
}
.test::before{
    content: '';
        position:absolute;
        width:100%;
        height:100%;
        border-color: transparent transparent transparent red;
        border-style:solid;
        border-width:2px;
        transform: skewX(-15deg);
}
.sales-badge p{
    margin-bottom: 0px;
    color:#D84E08;
    position: absolute;
    bottom: -35px;
    right: 32%;
    font-weight: 700;
}
.top-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.top-footer .line{
    border-bottom: 2px solid rgba(254, 89, 0, 1);
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo img{
    width: 50px;
}
.footer-logo p{
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 0px;
}
.footer-logo p span{
    color:#FE5900;
}
.copyright-sec{
    color:gray;
    background-color: #151A20;
    display: flex;
    justify-content: space-between;
}
.copyright-sec span{
    color:#FE5900;
    font-weight: bold;
}